#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokemoncards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

}

.cheat {
  margin-bottom: 1rem;
}

.scores {
  display: flex;
  gap: 20px;
  margin-bottom: 1rem;
  justify-content: center;
}

@media (max-width: 479px) {
  .pokemoncards, .scores {
    flex-direction: column;
    align-items: center;
  }
}

.pokemon{
  width: 200px;
}

.pokemon:hover{
  cursor: pointer;
  filter: drop-shadow(0 0 1em #646cffaa);
  color: #02ffc8aa;
}

.pokemon:active{
  cursor: pointer;
  filter: drop-shadow(0 0 1em #d5d7ffaa);
  color: #eaff00d4;
}